# Default ignored files

# Ignore default folder
Java/.idea/*
Java/out/*
Java/Java.iml

# Ignore 4-1
Aufg4-1/.idea/*
Aufg4-1/out/*
Aufg4-1/Aufg4-1.iml

# Ignore JavaNuggets
JavaNuggets/.idea/*
JavaNuggets/out/*
JavaNuggets/JavaNuggets.iml

# Ignore UebungTesting
UebungTesting/.idea/*
UebungTesting/out/*
UebungTesting/UebungTesting.iml

# Ignore 4-3
Aufg4-3/.idea/*
Aufg4-3/out/*
Aufg4-3/Aufg4-3.iml

